body {
	margin:0; padding:0;
	font-family:Verdana, Sans-serif;
	font-size:8pt;
	text-align:center;
}

iframe {
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	height:100%;
	width:100%;
	margin:0px;
	border:0px;
}


/*	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - >>
 *	LOGO
 */
 
.logo {
	padding-top:15px;
	padding-bottom:15px;
}

.logo img {
	height:22px;
	width:365px;
	border:0px;
}



/*	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - >>
 *	FOOTER
 */

.footer {
	padding-top:20px;
	padding-bottom:15px;
}

.footer a {
	color:#222222;
	font-size:10px;
	text-decoration:none;
	margin-right:10px;
}

.footer a.flag {
}

.footer a img {
	border:1px #222222 solid;
}




body {  font-family: "Times New Roman", Times, serif; font-size: 12px}
.brodtext {  font-family: "Times New Roman", Times, serif; font-size: 14px; color: #000000; line-height: 20px; font-style: normal}
.definition {  font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; font-size: 10px}
.headline {  font-family: "Times New Roman", Times, serif; font-size: 28px; color: #993300; font-style: italic}
a {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #993300; font-size: 10px; font-style: normal}
.headline_small {  font-family: "Times New Roman", Times, serif; font-size: 15px; font-style: italic; color: #993300}
.definition2 { font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; font-size: 12px; font-weight: bold; background-color: #993300; color: #FFFFFF; text-indent: 3px; line-height: normal}
.liner {  font-size: 1px; background-color: #993300}
.definition3 { font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; font-size: 12px}
